@import "../../styles/variables";

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 320px;

  border-radius: 999px;
  background: $tertiary-color;
  
  .search-input {
    height: 50px;
    width: 100%;
    padding: 0.5rem 1.5rem 0.5rem 3.125rem;
    border: none;
    border-radius: 999px;

    color: $shape-color;
    font-size: 1rem;

    background: transparent;

    &::placeholder {
      color: $secondary-color;
      transition: transform 0.3s, opacity 0.3s;
    }

    &:hover {
      &::placeholder {
        transform: translateX(5px);
      }
    }

    &:focus {
      &::placeholder {
        opacity: 0;
        transform: translateX(10px);
      }
    }
  }

  .search-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    width: 50px;
    height: 50px;
    border-radius: 999px;
    background: transparent;

    & svg {
      width: 24px;
      height: 24px;
      color: $secondary-color;
    }
  }
}