:root {
  --shape-color: #1E293B;
  --primary-color: #3B82F6;
  --secondary-color: #94A3B8;
  --tertiary-color: #E2E8F0;
  --yellow-color: #EAB308;

  --body-text-color: #1E293B;
  --body-background-color: #F1F5F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

body {
  color: var(--body-text-color);
  background: var(--body-background-color);
}

@media screen and (max-width: 1025px) {
  body {
    font-size: 87.5%; // 14 * 100 / 16
  }
}